In [1]:
str1 = "Hello"
str2 = 'there'
bob = str1 + str2
print(bob)

Hellothere

In [2]:
x = '40'
y = int(x) + 2
print(y)

42

In [5]:
x = 'From marquard@uct.ac.za'
print(x[8])

q

In [6]:
x = 'From marquard@uct.ac.za'
print(x[14:17])

uct

In [7]:
for letter in 'banana' :
    print(letter)

b
a
n
a
n
a

In [8]:
print(len('banana')*7)

42

In [9]:
greet = 'Hello Bob'
print(greet.upper())

HELLO BOB

In [10]:
data = 'From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008'
pos = data.find('.')
print(data[pos:pos+3])

.ma

6.5 Write code using find() and string slicing (see section 6.10) to extract the number at the end of the line below. Convert the extracted value to a floating point number and print it out.

In [13]:
text = "X-DSPAM-Confidence:    0.8475";
colon = text.find(':')
float(colon)
a = text[-6:]
print(a)

0.8475